*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
  background-color: #C51230;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  width: 100%
  /* justify-content: center   */
}

.title{
  font-size: 20px;
  text-align: center;
}

.menu {
 display: flex;
 justify-content: center;
 background-color: #cccbc94f
}

.button {
 background-color: #FEF85F;
 border:none;
 border-radius: 10px;
 color: #000000;
 padding: 10px;
 text-align: center;
 text-decoration: none;
 font-size: 16px;
 margin: 2%;
 cursor: pointer; 
}

.buttonOptions {
 background-color:#fefaa2;
}

.buttonDelete {
  background-color: #fefaa2;
  border: none;
  color: #333333;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  /* border-radius: 25px; */
}
.input {
  border-radius: 5px
}
