*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
  background-color: #C51230;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  width: 100%;
  padding: 2%

  /* justify-content: center   */
}

.title{
  font-size: 20px;
  text-align: center;
  font-weight: bold
}

.menu {
 display: flex;
 justify-content: center;
 background-color: #cccbc94f
}

.button {
 background-color: #FEF85F;
 border:none;
 border-radius: 10px;
 color: #000000;
 padding: 10px;
 text-align: center;
 text-decoration: none;
 font-size: 16px;
 margin: 2%;
 cursor: pointer; 
}

.buttonOptions {
 background-color:#fefaa2;
}

.buttonEnviarPedido{
  background-color:#cb2a45;
  color: #ffffff
}

.buttonDelete {
  background-color: #fefaa2;
  border: none;
  color: #333333;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  /* border-radius: 25px; */
}

.buttonQuantity{
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 22px;
}

.buttonAddOrder{
  background-color:#383d41;
  color: #ffffff; 
  cursor: pointer;
}
.input {
  border-radius: 5px
}

.label {
  font-weight: bold
}

hr {
  border-bottom:solid 0.3px #fef85fa1;
  widows: 100%;
  
}